/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    margin:0;
}

.main-container {
    width: 100%; /* Or any percentage or fixed width*/
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Centers the container */
    overflow: hidden; /* To handle any floating elements */
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1200px; /* Same as .main-container */
    margin: 0 auto; /* Centers the header content */
    background: #071037;
    color: #ffffff;
    padding: 0.5rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for visibility */
    min-height: 4rem;
}

header .logo {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    padding-left: 15px;
    padding-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, font-weight 0.3s; /* Smooth transition for color and font-weight */
}

header nav ul li a:hover {
    color: #81C7D4; /* Change to desired hover color */
    font-weight: bold; /* Makes the font bold on hover */
}

#txt {
    font-size: 16px;
    min-height: 2rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#txt {
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0; 
}

/* Hero Section */
#hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; /* Adjust as needed */
    padding-bottom: 0rem; 
}

#hero .text {
    flex: 0.55;
    padding: 2rem; /* Adjust as needed */
    text-align: left; /* Text is left-aligned */
}

#hero .text h1 {
    font-size: 32px;
}

#hero .text p {
    font-size: 20px;
}

#hero .text .small-text {
    font-size: 13px;
    padding-top: 0rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; /* Fallback font is sans-serif */
}

#hero .image {
    flex: 1;
    padding: 5rem; /* Adjust as needed */
    justify-content: center; /* Center-align items horizontally */
    display: flex; /* Ensure this is a flex container */
    align-items: center; /* Center-align items vertically */
}

#hero .image img {
    max-width: 70%;
    height: auto;
}

#animated-text-container {
    height: 24px; /* Height should match the size*/
    overflow: hidden; /* Hide the overflow to contain the animation */
    position: relative;
}

#portfolio-button {
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    width: 25px; /* Maximum width */
    height: 25px; /* Maximum height */
}

#portfolio-button:hover {
    content: url('../images/home/linkedin_blue.png'); /* Change to blue image on hover */
}


@media (max-width: 768px) {
    #hero .container {
        flex-direction: column;
    }

    #hero .image {
        order: -1; /* Moves the image above the text */
        padding: 0 0 1rem 0; /* Adjust padding as needed */
    }

    #hero .text {
        padding: 1rem 0; /* Adjust padding as needed */
        text-align: center;
    }

    #hero .image img {
        width: 80%; /* Adjust as needed */
    }
}

@media (max-width: 1200px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

/* Title Section */
#animated-text-container {
    height: 24px;
    overflow: hidden;
    position: relative;
}

#animated-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 1s forwards;
}

.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideOut {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes slideIn {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* Skills Section */
#skills {
    background-color: #f1f7ff; /* Or any other color */
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}

.skills-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the flex container */
}

.skills-text {
    flex: 2;
    padding-right: 50px; /* Space between text and skill boxes */
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}

.skills-text-inner {
    padding-left: 15px;
    margin-left: 3px; 
    margin-top: 10px;/* Adjust based on design */
    border-left: 2px solid #c0bebe;
    padding-right: 20px;
    text-align: left;
    font-size: 14px;
}

.skills-intro {
    margin-bottom: 0;
}

.skills-boxes {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
}

.skills-item {
    background: #fff; /* White background for each skill item */
    padding: 20px;
    margin-bottom: 20px; /* Space between skill items */
    width: calc(50% - 10px); /* Adjust the width as needed, subtracting the margin */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Simple shadow for depth */
    border-radius: 8px; /* Rounded corners */
}

.skills-item img {
    max-width: 50px; /* Example size, adjust as needed */
    margin-bottom: 10px; /* Space between the image and the text */
}

.skills-item h3 {
    margin-bottom: 5px; /* Space between the title and description */
    color: #333; /* Dark grey color for the title */
    text-align: center;
}

.skills-item p {
    font-size: 14px; /* Smaller font size for the description */
    color: #666; /* Light grey color for the description */
    text-align: left;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
    }

    .skills-text {
        order: 2; /* Reorder text to come after boxes on smaller screens */
    }

    .skills-text-inner {
        border-left: none;
        padding-left: 0;
    }

    .skills-header h3 {
        text-align: center;
    }
    
    .skills-boxes {
        order: 1; /* Reorder boxes to come before text on smaller screens */
        width: 100%;
    }

    .skills-item {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 20px; /* Space between skill items */
    }
}

/* About Section */
#about {
    padding: 0rem 5%;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-top: 4rem;
}

#intro {
    text-align: left;
    font-size: 14px;
}

#about img {
    max-width: 400px;
    border-radius: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#intro p {
    margin-bottom: 0.5rem; 
}

/* Portfolio Section */
#portfolio {
    background: #eee;
    padding: 2rem 5%;
    margin-top: 1rem;
}

.portfolio-item {
    margin-bottom: 1.5rem;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

/* Clients Section */
#clients {
    padding: 20px 0;
    text-align: center;
    background: #f9f9f9; /* Or any other background color */
    margin-top: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1px;
    padding-bottom: 20px;
}

.clients-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;
}

.clients-logos {
    display: flex;
    justify-content: center; /* Center logos */
    align-items: flex-end; /* Align logos by their bottom edge */
    flex-wrap: wrap;
    row-gap: 2rem; /* Set a gap between the logos */
    column-gap: 4rem;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Fixed height for all logo containers */
}

.logo img {
    max-height: 100%; /* Maximum height for the image */
    width: auto; /* Auto width to maintain aspect ratio */
    object-fit: contain; /* Maintain aspect ratio without stretching */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .clients-logos {
        justify-content: center; /* Center logos on smaller screens */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .clients-logos {
        justify-content: center; /* Center logos on smaller screens */
    }
}

/* Past Projects Section */
#past-projects {
    margin-top: 1rem;
    padding: 50px 0;
    background-color: #f5f5f5; /* Adjust the background color as needed */
}

#past-projects .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.past-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 0px;
}

#past-projects h2 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid layout */
    grid-gap: 30px; /* Space between project items */
}

.project-item-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent elements */
    display: block; /* Makes the link block-level to contain the entire item */
}

@keyframes rippleEffect {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.project-item {
    background: #ffffff; /* Background color for project item */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Box-shadow for styling */
    overflow: hidden; /* This will contain the content within the boundaries */
    height: 14em;
    position: relative; /* Needed for absolute positioning of the pseudo-element for ellipsis */
    max-width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for scaling */
}

.project-item:hover {
    transform: scale(1.05); /* Slightly enlarge the item */
    background: linear-gradient(-45deg, #ffffff, #eefbf6, #e4f1f7, #f9dbcd); /* Water-like gradient */
    background-size: 180% 180%;
    animation: rippleEffect 4s linear infinite; /* Ripple effect */
}

.project-categories {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    /*margin-bottom: 0px;*/
}

.project-category {
    padding: 5px;
    flex-shrink: 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    text-overflow: ellipsis;
    max-width: 9em;
    display: inline-block;
}

.project-item h3{
    white-space: nowrap; /* Ensure the text is in a single line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis to overflow content */
    display: block; /* Treat inline elements like block elements */
    /*max-width: 100%; /* Set a max-width to enforce overflow behavior */
    max-height: 3em; /* For example, limit to the height of two lines of text */
    font-size: 1.2rem;
    color: #333; /* Adjust title color as needed */
    /*margin-bottom: 0px;*/
}

.project-item p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-height: 4.8em; /* Adjust based on line-height to show exactly four lines */
    font-size: 1rem;
    color: #666; /* Adjust paragraph color as needed */
    line-height: 1.6;
    text-align: left;
    padding: 5px;
}

.web {
    background-color: #d8f0d9; /* Green background for social impact category */
    color: #054406; /* Darker green text */
}

.backend {
    background-color: #cee1f1; /* Blue background for mobile app category */
    color: #213149; /* Darker blue text */
}

.database {
    background-color: #f3f2e0; /* Yellow background for web category */
    color: #443c37; /* Darker brown text */
}

.business {
    background-color: #e0cdfa; /* Purple background for business category */
    color: #502a67; /* Darker purple text */
}

.mobile {
    background-color: #f4b2a9; /* Red background for backend category */
    color: #501a1a; /* Darker red text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr; /* Stack items in a single column on smaller screens */
    }
}

/* Testimonials Section */
#testimonials {
    display: flex;
    flex-direction: column; /* Adjust this as needed */
    padding: 20px 0;
    text-align: center;
    background: #f5f5f5; /* Or any other background color */
    margin-top: 1rem;
}

.testimonials-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.testimonial {
    flex: 1;
    padding: 10px; /* Adjust this as needed for spacing between testimonials */
    /* Optional: Add margin for spacing between the testimonials */
    margin-left: 30px;
    margin-right: 0rem; /* For all except the last testimonial */
}

.testimonial p {
    margin-bottom: 0.5rem;
}

#testimonials h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;
}


.testimonial:last-child {
    margin-right: 40px; 
} 

.testimonial-text {
    /* Styles for the testimonial text */
    font-style: italic;
    margin-bottom: 0.5rem;
    text-align: left;
}

.testimonial-author {
    /* font-style: italic; */
    text-align: right;
    /*font-weight: bold;*/
}

.author-link {
    text-decoration: none; /* Removes underline */
    color: black; /* Sets the link color, adjust as needed */
}

.author-link:hover {
    font-weight: bold;
    font-style: italic;
    color: #4583c6; 
    text-decoration: none; 
}

/* Contact Section */
#contact {
    background: #f9f9f9;
    text-align: left;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    gap: 3rem; 
    /*padding: 10px;*/
    margin-left:30px;
}

#contact h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 30px;
}


.contact-option {
    /* 保持现有的样式，但可能需要调整margin和width */
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px; 
    width: 30%;
    /* max-width:300px*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    max-height: 70px;
    overflow: auto; 
    margin-bottom: 2rem;
    /* 可以移除margin-left或margin-right，如果存在的话 */
}

.contact-option a {
    display: flex;
    align-items: center; /* Vertically centers the content */
    text-decoration: none;
    color: #333;
}

.contact-option a {
    flex: 0 0 30%; /* Do not grow, do not shrink, start at 30% width */
    max-width: 100%; /* Make sure the image is not bigger than its container */
    height: auto; /* Maintain aspect ratio */
}

.contact-option a > div {
    flex: 1; /* Takes up the remaining space */
    padding-left: 10px; /* Optional: adds some space between the icon and the text */
}

.contact-subtext {
    color: #666;
    font-size: 0.8em;
}

.contact-option:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background: linear-gradient(-45deg, #ffffff, #eefbf6, #e4f1f7, #f9dbcd); /* Water-like gradient */
    background-size: 180% 180%;
    animation: rippleEffect 4s linear infinite; /* Ripple effect */
}

.contact-icon {
    margin-left:20px;
    max-width: 25px; /* Adjust the size as needed */
    height: auto;
}

.contact-text {
    margin-left:10px;
}

.contact-subtext {
    color: #666;
    font-size: 0.8em;
}


/* Footer */
footer {
    background: #071037;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 7.3rem;
}

footer nav ul {
    list-style: none;
    padding: 1rem 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

#footer-text {
    display: none;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    animation: jump 0.5s ease forwards;
}

footer:hover #footer-text {
    display: block;
    opacity: 1;
}

@keyframes pushDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

#footer-image {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 70px; /* Maximum width */
    transition: opacity 0.5s ease;
    opacity: 1;
    animation: pushDown 0.5s ease forwards;
}

footer:hover #footer-image {
    opacity: 0;
    display: none;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    header nav ul,
    footer nav ul {
        text-align: center;
        padding: 1rem;
    }

    header nav ul li,
    footer nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

/* Project Page */
.project-detail {
    max-width: 900px;
    margin: auto;
    padding: 1em;
}

.project-header {
    text-align: Left;
    padding: 2em 0;
    /* background-color: #E6F9EB; */
    margin-top: 5em;
    margin-bottom: 0em;
}

.project-header H1{
    font-size:3em;
}

.project-header H3{
    font-size:1.5em;
    margin-bottom: 1em;
}

.project-header img{
    display: block; 
    margin:auto;
    max-width:55em;
}

.project-icon {
    display: block;
    margin: 0 auto;
    width: 100px; /* Adjust as needed */
    height: auto;
}

.project-header h1 {
    color: #333;
    /* Add other styles like font-family, font-size as needed */
}


.project-body {
    padding: 0em;
    text-align: left;
    /* Add other styles as needed */
}

.project-summary {
    margin-top: 1em;
    padding: 0em;
    text-align: left;
    /* Add other styles as needed */
    margin-bottom: 1em;
}

.project-links a {
    display: block;
    margin: 0em 0;
    /*color: #007BFF;*/
    text-decoration: none;
    margin-bottom:1em;
}

.project-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.project-navigation a {
    /*color: #007BFF;*/
    text-decoration: none;
}

.innovatank-link {
    color: #838383; 
    text-decoration: none; 
}

.innovatank-link:hover {
    font-weight: bold;
    font-style: italic;
    color: #4583c6; 
    text-decoration: none; 
}

.codebase-section {
    display: flex;
    background-color: #f4f4f4; /* Or any color you prefer */
    border: 1px solid #ddd; /* Optional border */
    margin: 5px 0;
    padding: 10px;
}

.codebase-section:hover{
    /*transform: scale(1.05);  Slightly enlarge the item */
    background: linear-gradient(-45deg, #ffffff, #eefbf6, #e4f1f7, #f9dbcd); /* Water-like gradient */
    background-size: 180% 180%;
    animation: rippleEffect 4s linear infinite; /* Ripple effect */
}

.text-part {
    flex: 0.7; /* Takes 70% of the space */
    padding-right: 20px; /* Optional padding between text and image */
}

.text-part h3 {
    margin-bottom: 10px;
}

.text-part p {
    color: #3a3a3a;
    font-size: 16px;
    line-height: 1.6;
}

/*
.codebase-link {
    color: #3a3a3a; a
    text-decoration: none;
}

.codebase-link:hover {
    color: #3a3a3a;
    text-decoration: underline;
}
*/

.image-part {
    flex: 0.3; /* Takes 30% of the space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.image-part img {
    max-width: 100%;
    max-height: 5em;
    height: auto;
    object-fit: contain;
}

@media (max-width: 600px) {
    .image-part {
        flex: 0.4;
    }
    .text-part {
        flex: 0.6;
    }
}

.codebase-section-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}

.github-info {
    display: flex; 
    align-items: center;
    margin-top: 10px;
    color: #3a3a3a;
}

.github-logo {
    width: 20px; 
    height: auto; 
    margin-right: 5px; 
    color: #3a3a3a;
}

.codebase-section-link .text-part p {
    margin: 0;
}

.codebase-section-link .image-part img {
    display: block;
    width: 100%; 
}

.previous-project,
.next-project {
    display: flex;
    color: #333;
    background-color: #f4f4f4; /* Or any color you prefer */
    border: 1px solid #ddd; /* Optional border */
    margin: 5px 0;
    padding: 10px;
    width: 25rem;
    text-align: left;
    transition: background-color 0.3s ease;
}

.previous-project:hover {
    /*transform: scale(1.05);  Slightly enlarge the item */
    background: linear-gradient(-45deg, #ffffff, #eefbf6, #e4f1f7, #f9dbcd); /* Water-like gradient */
    background-size: 180% 180%;
    animation: rippleEffect 4s linear infinite; /* Ripple effect */
}

.next-project:hover {
    /*transform: scale(1.05);  Slightly enlarge the item */
    background: linear-gradient(-45deg, #ffffff, #eefbf6, #e4f1f7, #f9dbcd); /* Water-like gradient */
    background-size: 180% 180%;
    animation: rippleEffect 4s linear infinite; /* Ripple effect */
}