/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    margin:0;
}

.main-container {
    width: 100%; /* Or any percentage or fixed width*/
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Centers the container */
    overflow: hidden; /* To handle any floating elements */
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1200px; /* Same as .main-container */
    margin: 0 auto; /* Centers the header content */
    background: #071037;
    color: #ffffff;
    padding: 0.5rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for visibility */
}

header .logo {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    padding-left: 15px;
    padding-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, font-weight 0.3s; /* Smooth transition for color and font-weight */
}

header nav ul li a:hover {
    color: #81C7D4; /* Change to desired hover color */
    font-weight: bold; /* Makes the font bold on hover */
}

#txt {
    font-size: 16px;
}

/* Hero Section */
#hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; /* Adjust as needed */
    padding-bottom: 0rem; 
}

#hero .text {
    flex: 0.45;
    padding: 2rem; /* Adjust as needed */
    text-align: left; /* Text is left-aligned */
}

#hero .text h1 {
    font-size: 32px;
}

#hero .text p {
    font-size: 20px;
}

#hero .text .small-text {
    font-size: 13px;
    padding-top: 0rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; /* Fallback font is sans-serif */
}

#hero .image {
    flex: 1;
    padding: 1rem; /* Adjust as needed */
}

#hero .image img {
    max-width: 70%;
    height: auto;
    align-self: flex-start;
}

#animated-text-container {
    height: 24px; /* Height should match the size*/
    overflow: hidden; /* Hide the overflow to contain the animation */
    position: relative;
}

#portfolio-button {
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    width: 25px; /* Maximum width */
    height: 25px; /* Maximum height */
}

#portfolio-button:hover {
    content: url('../images/home/linkedin_blue.png'); /* Change to blue image on hover */
}


@media (max-width: 768px) {
    #hero .container {
        flex-direction: column;
    }

    #hero .image {
        order: -1; /* Moves the image above the text */
        padding: 0 0 1rem 0; /* Adjust padding as needed */
    }

    #hero .text {
        padding: 1rem 0; /* Adjust padding as needed */
        text-align: center;
    }

    #hero .image img {
        width: 80%; /* Adjust as needed */
    }
}

@media (max-width: 1200px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    #hero .text h1 {
        font-size: 32px;
    }

    #hero .text p {
        font-size: 20px;
    }
}

/* Title Section */
#animated-text-container {
    height: 24px;
    overflow: hidden;
    position: relative;
}

#animated-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 1s forwards;
}

.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideOut {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes slideIn {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* Skills Section */
#skills {
    background-color: #f1f7ff; /* Or any other color */
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}

.skills-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the flex container */
}

.skills-text {
    flex: 2;
    padding-right: 50px; /* Space between text and skill boxes */
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}

.skills-text-inner {
    padding-left: 15px;
    margin-left: 3px; 
    margin-top: 10px;/* Adjust based on design */
    border-left: 2px solid #c0bebe;
    padding-right: 20px;
    text-align: left;
    font-size: 14px;
}

.skills-intro {
    margin-bottom: 0;
}

.skills-boxes {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
}

.skills-item {
    background: #fff; /* White background for each skill item */
    padding: 20px;
    margin-bottom: 20px; /* Space between skill items */
    width: calc(50% - 10px); /* Adjust the width as needed, subtracting the margin */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Simple shadow for depth */
    border-radius: 8px; /* Rounded corners */
}

.skills-item img {
    max-width: 50px; /* Example size, adjust as needed */
    margin-bottom: 10px; /* Space between the image and the text */
}

.skills-item h3 {
    margin-bottom: 5px; /* Space between the title and description */
    color: #333; /* Dark grey color for the title */
    text-align: center;
}

.skills-item p {
    font-size: 14px; /* Smaller font size for the description */
    color: #666; /* Light grey color for the description */
    text-align: left;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
    }

    .skills-text {
        order: 2; /* Reorder text to come after boxes on smaller screens */
    }

    .skills-text-inner {
        border-left: none;
        padding-left: 0;
    }

    .skills-header h3 {
        text-align: center;
    }
    
    .skills-boxes {
        order: 1; /* Reorder boxes to come before text on smaller screens */
        width: 100%;
    }

    .skills-item {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 20px; /* Space between skill items */
    }
}

/* About Section */
#about {
    padding: 0rem 5%;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-top: 4rem;
}

#intro {
    text-align: left;
    font-size: 14px;
}

#about img {
    max-width: 400px;
    border-radius: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#intro p {
    margin-bottom: 0.5rem; 
}

/* Portfolio Section */
#portfolio {
    background: #eee;
    padding: 2rem 5%;
    margin-top: 1rem;
}

.portfolio-item {
    margin-bottom: 1.5rem;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

/* Clients Section */
#clients {
    padding: 20px 0;
    text-align: center;
    background: #f9f9f9; /* Or any other background color */
    margin-top: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1px;
    padding-bottom: 20px;
}

.clients-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;
}

.clients-logos {
    display: flex;
    justify-content: center; /* Center logos */
    align-items: flex-end; /* Align logos by their bottom edge */
    flex-wrap: wrap;
    row-gap: 2rem; /* Set a gap between the logos */
    column-gap: 4rem;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Fixed height for all logo containers */
}

.logo img {
    max-height: 100%; /* Maximum height for the image */
    width: auto; /* Auto width to maintain aspect ratio */
    object-fit: contain; /* Maintain aspect ratio without stretching */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .clients-logos {
        justify-content: center; /* Center logos on smaller screens */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .clients-logos {
        justify-content: center; /* Center logos on smaller screens */
    }
}

/* Past Projects Section */
#past-projects {
    margin-top: 1rem;
    padding: 50px 0;
    background-color: #f5f5f5; /* Adjust the background color as needed */
}

#past-projects .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.past-header h3 {
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 0px;
}

#past-projects h2 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid layout */
    grid-gap: 30px; /* Space between project items */
}

.project-item-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent elements */
    display: block; /* Makes the link block-level to contain the entire item */
}

.project-item {
    background: #ffffff; /* Background color for project item */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Box-shadow for styling */
    /* margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;*/
    overflow: hidden; /* This will contain the content within the boundaries */
    height: 14em;
    position: relative; /* Needed for absolute positioning of the pseudo-element for ellipsis */
    max-width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for scaling */
}

.project-item:hover {
    transform: scale(1.05); /* Slightly enlarge the item */
    background-color: #f6f6f6; /* Change background color on hover */
}

.project-categories {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 10px;
}

.project-category {
    padding: 5px;
    flex-shrink: 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    text-overflow: ellipsis;
    max-width: 9em;
    display: inline-block;
}

.project-item h3{
    white-space: nowrap; /* Ensure the text is in a single line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis to overflow content */
    display: block; /* Treat inline elements like block elements */
    /*max-width: 100%; /* Set a max-width to enforce overflow behavior */
    max-height: 3em; /* For example, limit to the height of two lines of text */
    font-size: 1.5rem;
    color: #333; /* Adjust title color as needed */
    margin-bottom: 10px;
}

.project-item p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-height: 4.8em; /* Adjust based on line-height to show exactly four lines */
    font-size: 1rem;
    color: #666; /* Adjust paragraph color as needed */
    line-height: 1.6;
    text-align: left;
    padding: 5px;
}

.social {
    background-color: #d8f0d9; /* Green background for social impact category */
    color: #054406; /* Darker green text */
}

.mobile {
    background-color: #cee1f1; /* Blue background for mobile app category */
    color: #213149; /* Darker blue text */
}

.web {
    background-color: #f3f2e0; /* Yellow background for web category */
    color: #443c37; /* Darker brown text */
}

.business {
    background-color: #e0cdfa; /* Purple background for business category */
    color: #502a67; /* Darker purple text */
}

.backend {
    background-color: #f4b2a9; /* Red background for backend category */
    color: #501a1a; /* Darker red text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr; /* Stack items in a single column on smaller screens */
    }
}

/* Testimonials Section */
section {
    padding: 2rem 5%;
    text-align: center;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 0.5rem;
}

/* Contact Section */
#contact form {
    max-width: 600px;
    margin: 2rem auto;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

#contact form button {
    display: inline-block;
    background: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

#contact form button:hover {
    background: #555;
}

/* Footer */
footer {
    background: #071037;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer nav ul {
    list-style: none;
    padding: 1rem 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 70px; /* Maximum width */
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    header nav ul,
    footer nav ul {
        text-align: center;
        padding: 1rem;
    }

    header nav ul li,
    footer nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}